
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&display=swap');

.App {
  width:100%;
  height:auto;
  display:flex;
  flex-direction: column;
  font-family: 'Roboto Mono', monospace;
}
body{
  padding:0;
  margin:0;
}
body::-webkit-scrollbar{
  width:0.5rem;
}
body::-webkit-scrollbar-track {
  background: #63A67C;
}
body::-webkit-scrollbar-thumb{
  background:#916F4B;
}
